table > thead > tr > th {
    border-top: none !important;
    text-align: center;
}

table > tbody > tr > td {
    text-align: center;
}

table td {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

/* box search */

form#form-search button {
    background: #343a40;
    color: #ffffff;
}

.radio:first-child {
    margin-right: 40px;
}

.box-thumbnail{
    height: 150px;
    border: 1px dashed #000000;
    margin-bottom: 10px;
}

.box-thumbnail > i{
    font-size: 20px;
}

#file-thumbnail, #file-thumbnail-detail{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.btn-add-thumbnail{
    position: relative;
}

