.avatar-patient > img {
    width: 100%;
    height: 240px;
}

.line {
    height: 1px;
    background: black;
    margin: 20px 0;
    padding: 0px 40px;
}

.smal-label {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.line-medical {
    height: 5px;
    width: 100%;
    border-bottom: 1px dashed black;
    margin-bottom: 20px;
}
